/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: var(--cor-secundaria);
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 0;
}

h1 {
  font-size: 36px;
  color: #050404;
}

h2 {
  background-color: var(--cor-terciaria);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 30px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
  margin-bottom: 15px;
}

li {
  margin-bottom: 5px;
}

/* Botões */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Formulários */
form {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

/* Pop-up */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9999;
  max-width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.message-container {
  text-align: center;
}

.success {
  color: green;
}

.error {
  color: red;
}

/* Cores Personalizadas */
:root {
  --cor-primaria: #ff5733; /* Laranja escuro */
  --cor-secundaria: #000000; /* Marrom escuro */
  --cor-terciaria: rgb(247, 247, 247); /* Branco amarelado */
  --cor-botao: #dc3545; /* Vermelho escuro */
}

/* Layout da Página */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar */
.navbar {
  background-color: var(--cor-terciaria);
  border-bottom: 1px solid var(--cor-secundaria);
  padding: 10px 0;
}

.navbar-brand {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--cor-secundaria);
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: var(--cor-secundaria);
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--cor-botao);
}

/* Seções */
.section {
  padding: 80px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-title {
  font-size: 2.5rem;
  color: var(--cor-primaria);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: var(--cor-primaria);
  margin: 10px auto;
}

.section-subtitle {
  font-size: 1.2rem;
  color: var(--cor-secundaria);
  margin-bottom: 40px;
}

/* Hero Section */
.seção1 {
  background-size: cover;
  background-position: center;
  color: var(--cor-terciaria);
  text-align: center;
  padding: 200px 0;
}

.seção1 h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.seção1 p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

/* Cardápio Section */
.cardapio-item {
  background-color: var(--cor-terciaria);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
  margin-bottom: 30px;
}

.cardapio-item:hover {
  transform: translateY(-10px);
}

.cardapio-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cardapio-item h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cardapio-item p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cardapio-item span {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Destaque Section */
.destaque {
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
  padding: 100px 0;
}

#destaque p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

#destaque img {
  background-color: var(--cor-terciaria);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
  margin-bottom: 30px;
}

/* Sobre Section */
.sobre {
  background-color: var(--cor-secundaria);
  color: var(--cor-terciaria);
  padding: 100px 0;
}

#sobre p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

/* Testemunhos Section */
.testemunho-item {
  background-color: var(--cor-terciaria);
  text-align: center;
  transition: transform 0.3s;
  margin-bottom: 30px;
}

.testemunho-item:hover {
  transform: translateY(-10px);
}

#testemunho-item p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#testemunho-item h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Equipe Section */
.equipe {
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  padding: 100px 0;
}

.membro-equipe {
  text-align: center;
  margin-bottom: 30px;
}

.membro-equipe img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.membro-equipe h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.membro-equipe span {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor-primaria);
}

/* Footer */
.footer {
  background-color: var(--cor-secundaria);
  color: var(--cor-terciaria);
  padding: 50px 0;
}

.footer p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer a {
  color: var(--cor-terciaria);
}

.footer a:hover {
  color: var(--cor-botao);
}

#lojas {
  background-color: var(--cor-terciaria);
  border-bottom: 1px solid var(--cor-secundaria);
  padding: 20px 0;
}

#lojas h2 {
  background-color: var(--cor-botao);
  border-bottom: 2px solid var(--cor-botao);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
}

#lojas h3 {
  background-color: var(--cor-primaria);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--cor-secundaria);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

/* Animações */
@keyframes pulse-border {
  90% {
    border-color: transparent;
  }
  70% {
    border-color: #fff;
  }
  200% {
    border-color: transparent;
  }
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

h1.titulo-header {
  background-color: #bfff00;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
  margin-bottom: 30px;
  position: relative;
  animation: pulsar 2s infinite alternate;
}

h1.titulo-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 10px;
  animation: pulse-border 2s infinite;
}

.cardapio-gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.cardapio-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 320px;
  margin-right: 70px;
}

@media (max-width: 767px) {
  .cardapio-item {
    width: calc(100% - 40px); /* Ajuste conforme necessário */
    margin-right: 20px;
    margin-left: 20px;
  }
}
